---
http_interactions:
- request:
    method: get
    uri: https://bitbucket.org/api/1.0/repositories//advantage-plan/changesets?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: UNAUTHORIZED
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Render-Time:
      - '0.326047182083'
      Content-Language:
      - en
      X-Static-Version:
      - c524695e7f84
      X-Version:
      - c524695e7f84
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      X-Request-Count:
      - '54'
      Www-Authenticate:
      - Basic realm="Bitbucket.org API"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 13 Mar 2015 19:58:23 GMT
- request:
    method: get
    uri: https://digitalopera:VYnYQlZsDZW60gX00kK2txNdFo1Op2re@bitbucket.org/api/1.0/repositories/digitalopera/advantage-plan/changesets?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Render-Time:
      - '1.89555621147'
      Content-Language:
      - en
      X-Request-Count:
      - '355'
      X-Static-Version:
      - c524695e7f84
      X-Version:
      - c524695e7f84
    body:
      encoding: ASCII-8BIT
      string: '{"count": 485, "start": null, "limit": 50, "changesets": [{"node":
        "f7a868c7747d", "files": [{"type": "modified", "file": ".ruby-version"}, {"type":
        "modified", "file": "Gemfile"}, {"type": "modified", "file": "Gemfile.lock"},
        {"type": "added", "file": "Guardfile"}, {"type": "modified", "file": "README.md"},
        {"type": "removed", "file": "README.rdoc"}, {"type": "modified", "file": "VERSION"},
        {"type": "modified", "file": "app/controllers/admin/plans_controller.rb"},
        {"type": "modified", "file": "app/views/admin/plans/_form.html.slim"}, {"type":
        "modified", "file": "app/workers/stripe_api/customer/create_worker.rb"}, {"type":
        "modified", "file": "config/environments/test.rb"}, {"type": "modified", "file":
        "config/mongoid.yml"}, {"type": "modified", "file": "spec/factories/admins.rb"},
        {"type": "modified", "file": "spec/factories/members.rb"}, {"type": "added",
        "file": "spec/models/admin_spec.rb"}, {"type": "modified", "file": "spec/models/member_spec.rb"},
        {"type": "modified", "file": "spec/spec_helper.rb"}, {"type": "added", "file":
        "spec/support/shared_examples/devise_authenticatable.rb"}, {"type": "added",
        "file": "spec/support/shared_sequences.rb"}, {"type": "added", "file": "ssl/2014/2b593913375151.crt"},
        {"type": "added", "file": "ssl/2014/gd_bundle.crt"}, {"type": "added", "file":
        "ssl/server.key"}, {"type": "added", "file": "ssl/server.orig.key"}, {"type":
        "added", "file": "ssl/youradvantageplan.com.csr"}], "branches": [], "raw_author":
        "Grant Klinsing <grant@grantrklinsing.com>", "utctimestamp": "2014-06-20 14:57:35+00:00",
        "author": "Grant Klinsing", "timestamp": "2014-06-20 16:57:35", "raw_node":
        "f7a868c7747da6eaa90badfbe3167ed2ed8bea72", "parents": ["60f7e0bed22b", "cc1f1e086fae"],
        "branch": null, "message": "Merge branch ''master'' of github.com:digitalopera/advantage-plan\n\n#
        By JD Hendrickson (7) and Grant Klinsing (2)\n# Via JD Hendrickson\n* ''master''
        of github.com:digitalopera/advantage-plan:\n  mongolab credentials fix\n  Version
        bump to 1.5.18\n  Version bump to 1.5.17\n  update for codeship setup\n  updated
        the SSL cert\n  Version bump to 1.5.16\n  Version bump to 1.6.0\n  gem updates
        and starting to add more tests\n  git whitespace fix\n", "revision": null,
        "size": -1}, {"node": "c687098e5d1f", "files": [{"type": "modified", "file":
        ".ruby-version"}, {"type": "modified", "file": "Gemfile"}, {"type": "modified",
        "file": "Gemfile.lock"}, {"type": "modified", "file": "VERSION"}, {"type":
        "modified", "file": "app/workers/stripe_api/customer/create_worker.rb"}, {"type":
        "modified", "file": "config/environments/production.rb"}, {"type": "modified",
        "file": "config/mongoid.yml"}], "branches": [], "raw_author": "Grant Klins[...]
- request:
    method: get
    uri: https://digitalopera:VYnYQlZsDZW60gX00kK2txNdFo1Op2re@bitbucket.org/api/1.0/repositories/digitalopera/advantage-plan/changesets?limit=50&start=f7a868c7747da6eaa90badfbe3167ed2ed8bea72
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Render-Time:
      - '2.1512260437'
      Content-Language:
      - en
     [...]
[...]
- request:
    method: get
    uri: https://digitalopera:VYnYQlZsDZW60gX00kK2txNdFo1Op2re@bitbucket.org/api/1.0/repositories/digitalopera/advantage-plan/changesets
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Render-Time:
      - '0.788467884064'
      Content-Language:
      - en
      X-Request-Count:
      - '331'
      X-Static-Version[...]
